<app-carousel></app-carousel>
<div class="container">
  <div class="row">
    <div class="men">
      <a routerLink="/men">
        <button class="btn" type="button">SHOP MEN</button>
      </a>
    </div>
    <div class="women">
      <a routerLink="/women">
        <button class="btn" type="button">SHOP WOMEN</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="kid">
      <a routerLink="/kid">
        <button class="btn" type="button">SHOP KID</button>
      </a>
    </div>
  </div>
</div>
